{% extends 'base.html.twig' %}

{% block title %}Please Login as Partners{% endblock %}

{% block body %}
    <h1>Confirmation du compte partenaire</h1>
    <form method="post">

        {% if app.user %}
            <div class="mb-3">
               <p>Bonjour Mr/Mme {{ username }}.</p>
                <p>Veuillez choisir un mot de passe</p>
            </div>
        {% endif %}

        <div class="loginFormDiv">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password"  name="password" id="inputPassword" class="form-control inputForm" placeholder="Password" required autofocus>
            <label for="inputPassword2" class="sr-only">Confirmer votre Password</label>
            <input type="password" name="password2" id="inputPassword2" class="form-control inputForm" placeholder="Confirmer votre Password" required>



            <button class="btn btn-lg btn-primary loginButton" type="submit">
                Enregistrer le mot de passe
            </button>
        </div>
    </form>

{% endblock %}