{% extends 'base.html.twig' %}

{% block title %}Please Login as Partners{% endblock %}

{% block body %}
    <h1>Veuillez rentrer votre email</h1>
    <form method="post">

        <div class="loginFormDiv">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email"  name="email" id="inputEmail" class="form-control inputForm" placeholder="Email" required autofocus>

            <button class="btn btn-lg btn-primary loginButton" type="submit">
                Recevoir un mail de réinitialisation de mot de passe
            </button>
        </div>
    </form>

{% endblock %}
