h1 
{
    color:red; 
    text-align: center; 
    padding-bottom: 20px;  
    padding-top: 20px;
}

h2
{
    text-align: center;
}

p{
    text-align: center;
}

.linkactive
{
    font-size: 30px;
}

.linkactive:hover
{
    color:red;
}

/* Home page*/
.divButtonHome
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttonHome
{
    margin-top: 20px;
}

/* Login page*/
.loginFormDiv
{
    width:70%;
    margin:0 auto;
    margin-top:50px;
    text-align: center;
    
}

.inputForm
{
    margin-top: 10px;
}

.loginButton
{
    margin-top:20px;
    text-align: center;
}

.divForgotButton
{
    margin: 0 auto;
    text-align: center;
}

.forgotButton
{
    margin-top: 20px;
}

