h1 
{
    color:red; 
    text-align: center; 
    padding-bottom: 20px;  
    padding-top: 20px;
}

h2
{
    text-align: center;
}

p{
    text-align: center;
}

.linkactive
{
    font-size: 30px;
}

.linkactive:hover
{
    color:red;
}
/* Login page*/
.loginFormDiv
{
    width:70%;
    margin:0 auto;
    margin-top:50px;
    text-align: center;
    
}

.loginButton
{
    margin-top:20px;
    text-align: center;
}

